<div class="container centered-container">
  <h1 class="mb-4">Fale Conosco</h1>
  <p class="mb-4">Entre em contato com a equipe do <strong>De Boa Viajando</strong>.</p>

  <div class="d-flex justify-content-center mb-4">
    <a href="https://www.instagram.com/deboaviajandonoceara" target="_blank" class="mx-3 text-dark">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://www.google.com/search?sca_esv=ccd6930778b679eb&rlz=1C1ONGR_pt-PTBR1143BR1143&kgmid=/g/11fnx93kmn&q=De+Boa+Viajando&shndl=30&shem=lcuae,lspt10,uaasie&source=sh/x/loc/uni/m1/1&kgs=b8056184c42f053b" target="_blank" class="mx-3 text-dark">
      <i class="fab fa-google fa-2x"></i>
    </a>
    <a href="https://wa.me/5585996112287?text=Ol%C3%A1%2C%20desejo%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20pacotes%20de%20viagens!" target="_blank" rel="noopener noreferrer" class="mx-3 text-dark">
      <i class="fab fa-whatsapp fa-2x"></i>
    </a>
    <a href="mailto:deboaviajandono@gmail.com" target="_blank" class="mx-3 text-dark">
      <i class="fas fa-envelope fa-2x"></i>
    </a>
  </div>
</div>
