<!-- Carrossel -->
<div id="meuCarrossel" class="carousel slide container mt-4" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="img/card1.png" class="d-block mx-auto" alt="Imagem 1">
      <div class="blur-overlay"></div>
    </div>
    <div class="carousel-item position-relative">
      <img src="img/card2.png" class="d-block mx-auto" alt="Imagem 2">
      <div class="blur-overlay"></div>
    </div>
    <div class="carousel-item position-relative">
      <img src="img/card3.png" class="d-block mx-auto" alt="Imagem 3">
      <div class="blur-overlay"></div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#meuCarrossel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#meuCarrossel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>

</div>

<!-- Cards -->
<div class="container mt-5">
  <div class="row">

    <!-- Card Jericoacoara -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100 border-0">
        <img src="/img/jeri.jpg" class="card-img-top" alt="Jericoacoara">
        <div class="card-body">
          <h5 class="card-title">Jericoacoara</h5>
          <p class="card-text">Aproveite o paraíso de Jeri.</p>
          <a href="/jericoacoara" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card 3 Praias -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100 border-0">
        <img src="/img/3praias.jpg" class="card-img-top" alt="3 Praias">
        <div class="card-body">
          <h5 class="card-title">3 Praias</h5>
          <p class="card-text">Morro Branco, Praia das Fontes e Canoa Quebrada.</p>
          <a href="/3praias" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <!-- Card Outras -->
    <div class="col-sm-4 mb-4">
      <div class="card h-100 border-0">
        <img src="/img/cumbuco.jpg" class="card-img-top" alt="Outras Praias">
        <div class="card-body">
          <h5 class="card-title">Outras</h5>
          <p class="card-text">Viva a experiência de praias incríveis.</p>
          <a href="/out" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>