<div class="container centered-container" style="min-height: 60vh;">
  <h1 class="mb-4">Sobre Nós</h1>
  <p style="max-width: 700px;">
    Somos uma Empresa focada no atendimento Home office, onde o cliente pode efetuar a escolha do pacote de viagem, com total segurança. Temos como lema o atendimento sincero, esclarecido, informando tudo o que é necessário para realizar seu sonho e ficar totalmente De Boa!
    <br><br>
    <strong>Especialidade:</strong> Praias do Ceará.
  </p>
</div>
